.application {
	display: inline-block;
	width: 100px;
	background-color: black;
	border-radius: 5px;

	img {

	}

	h3 {
		color: white;
		font-family: "Verdana";
		text-align: center;
		font-weight: normal;
	}
}
